@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/funciones';

.navbar {
    background-color: $color-card-backgr;
    font-size: $fuente-principal;
    padding: $padding-general;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;

    .link {
        color: #ffffff;
        text-decoration: none;
        margin-right: $margin-link;
    }

    .link:hover {
        width: 2rem;
    }
}


