@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/funciones';

.navbar {
    background-color: $color-card-backgr;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;


    .link {
        color: #ffffff;
        text-decoration: none;
        margin-right: $margin-link;
        font-size: 20px;
    }

    .link:hover {
        width: 2rem;
    }
}


