@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/funciones';


.card-producto {
    @include colores-base3;
    padding: $padding-card;
    margin-right: $margin-card;
    margin-bottom: $margin-card;
    width: 13rem;
    height: calcularAltura(13rem);
    border-radius: 10px;
    .prod-image {
        width: 13rem;
        height: 11rem;
    }

    .nombre-producto {
        font-size: $nombre-producto;
        // color: $color-principal;
        
    }

    .precio-producto {
        font-size: $precio-producto;
    }

    .detalles-boton {
        @include boton-basico1;
        text-decoration: none;
    }
}

